alembic==1.11.3
asyncpg==0.28.0
fastapi==0.103.1
fastapi_users==12.1.2
fastapi_users_db_sqlalchemy==6.0.1
httpx==0.25.0
pydantic==2.3.0
pytest==7.4.2
python-dotenv==1.0.0
shortuuid==1.0.11
SQLAlchemy==2.0.20
gunicorn==21.2.0
uvicorn[standard]==0.23.2
Jinja2==3.1.2
